scope: postgres_ha_cluster
name: postgres_ha_node_{{ item }}

restapi:
    listen: 0.0.0.0:8008
    connect_address: postgres_ha_node_{{ item }}:8008

metrics:
    enabled: true
    address: 0.0.0.0
    port: 8008

tags:
    prometheus: "yes"

consul:
    host: postgres_ha_load_balancer:8500
    scheme: https
    register_service: true
    service_check_interval: 10s
    token: "{{ consul_bootstrap_token }}"
    verify: true
    cacert: /consul_certs/ca.crt
    cert: /consul_certs/consul.crt
    key: /consul_certs/consul.key

postgresql:
    listen: 0.0.0.0:5432
    connect_address: postgres_ha_node_{{ item }}:5432
    data_dir: /var/lib/postgresql/data
    authentication:
        replication:
            username: "{{ database_credentials.replication_user.username }}"
            password: "{{ database_credentials.replication_user.password }}"
        superuser:
            username: "{{ database_credentials.super_user.username }}"
            password: "{{ database_credentials.super_user.password }}"
        rewind:
            username: "{{ database_credentials.rewind_user.username }}"
            password: "{{ database_credentials.rewind_user.password }}"
    parameters:
        shared_buffers: 256MB
        max_connections: 100
    pg_hba:
    - host {{ database_credentials.replication_user.username }} {{ database_credentials.replication_user.username }} 0.0.0.0/0 trust
    - host all all 0.0.0.0/0 md5

bootstrap:
    dcs:
        ttl: 30
        loop_wait: 10
        retry_timeout: 10
        maximum_lag_on_failover: 1048576
        postgresql:
            use_pg_rewind: true
            authentication:
                replication:
                    username: "{{ database_credentials.replication_user.username }}"
                    password: "{{ database_credentials.replication_user.password }}"
                superuser:
                    username: "{{ database_credentials.super_user.username }}"
                    password: "{{ database_credentials.super_user.password }}"
                rewind:
                    username: "{{ database_credentials.rewind_user.username }}"
                    password: "{{ database_credentials.rewind_user.password }}"
            parameters:
                wal_level: replica
                max_wal_senders: 10
                max_replication_slots: 5
                max_connections: 100
                shared_buffers: 512MB
                effective_cache_size: 2GB
                maintenance_work_mem: 64MB
                work_mem: 4MB
                wal_keep_size: 64MB
                archive_mode: "on"
                archive_command: 'cp %p /var/lib/postgresql/wal_archive/%f'
                log_min_messages: warning
                log_min_error_statement: error
    initdb:
    - encoding: UTF8
    - locale: en_US.UTF-8
    users:
        {{ database_credentials.replication_user.username }}:
            password: "{{ database_credentials.replication_user.password }}"
            options:
            - replication
        {{ database_credentials.super_user.username }}:
            password: "{{ database_credentials.super_user.password }}"
    post_bootstrap: "psql -c 'CREATE DATABASE postgreql_ha_testing_database;'"

tags:
    nofailover: false
    noloadbalance: false
    clonefrom: false
    nosync: false
